html, body {
    height: 100%;
}

body {
    background-color: #E4E4A1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
}
@media (min-width: 500px) {
    body {
        min-height: 500px;
    }
}
@media (min-width: 600px) {
    body {
        min-height: 600px;
    }
}
@media (min-width: 700px) {
    body {
        min-height: 700px;
    }
}

.s-game {
    border-radius: 50%;
    border: 20px solid black;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5), 0 25px 50px 0 rgba(0, 0, 0, 0.2);
    height: 280px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    background-color: grey;
}
@media (min-width: 500px) {
    .s-game {
        height: 400px;
        width: 400px;
    }
}
@media (min-width: 600px) {
    .s-game {
        height: 500px;
        width: 500px;
    }
}
@media (min-width: 700px) {
    .s-game {
        height: 600px;
        width: 600px;
    }
}
.s-game .overlay {
    background: -webkit-radial-gradient(center, #cccccc, #e5e5e5, #808080);
    background: radial-gradient(center, #cccccc, #e5e5e5, #808080);
    background-color: grey;
    border: 10px solid black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    top: 60px;
    left: 60px;
    position: absolute;
    z-index: 10;
}
@media (min-width: 500px) {
    .s-game .overlay {
        border: 20px solid black;
        height: 180px;
        width: 180px;
        top: 90px;
        left: 90px;
    }
}
@media (min-width: 600px) {
    .s-game .overlay {
        height: 230px;
        width: 230px;
        top: 115px;
        left: 115px;
    }
}
@media (min-width: 700px) {
    .s-game .overlay {
        height: 280px;
        width: 280px;
        top: 140px;
        left: 140px;
    }
}
.s-game .overlay .display {
    font-family: "VT323", monospace;
    font-size: 1em;
    width: 70%;
    min-height: 21px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 4px;
    color: white;
    text-align: center;
}
@media (min-width: 500px) {
    .s-game .overlay .display {
        font-size: 1.2em;
        min-height: 26px;
        margin-top: 25%;
    }
}
@media (min-width: 600px) {
    .s-game .overlay .display {
        font-size: 1.4em;
        min-height: 30px;
        margin-top: 25%;
    }
}
@media (min-width: 700px) {
    .s-game .overlay .display {
        font-size: 1.6em;
        min-height: 34px;
        margin-top: 25%;
    }
}
.s-game .overlay .strict, .ss-game .overlay .start-reset {
    font-family: "Russo One", sans-serif;
    font-size: 0.7em;
    text-align: center;
    margin-top: 5px;
}
@media (min-width: 500px) {
    .s-game .overlay .strict, .ss-game .overlay .start-reset {
        margin-top: 8px;
        font-size: 1em;
    }
}
@media (min-width: 600px) {
    .s-game .overlay .strict, .ss-game .overlay .start-reset {
        margin-top: 10px;
        font-size: 1.2em;
    }
}
@media (min-width: 700px) {
    .s-game .overlay .strict, .ss-game .overlay .start-reset {
        margin-top: 20px;
        font-size: 1.4em;
    }
}
.s-game .overlay .strict button {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: red;
}
@media (min-width: 500px) {
    .s-game .overlay .strict button {
        height: 16px;
        width: 16px;
    }
}
@media (min-width: 700px) {
    .s-game .overlay .strict button {
        height: 20px;
        width: 20px;
    }
}
.s-game .overlay .strict button.active {
    background-color: #00FF00;
}
.s-game .overlay .start-reset button {
    border: 2px solid black;
    border-radius: 4px;
    background-color: #00FF00;
}
.s-game .overlay .start-reset button.active {
    background-color: yellow;
}
.s-game .s-input {
    height: 50%;
    width: 50%;
    float: left;
    overflow: hidden;
    z-index: 1;
}
.s-game .s-input:hover {
    cursor: pointer;
}
.s-game .s-input.active {
    cursor: pointer;
}
.s-game .s-input.active .s-light {
    background-color: rgba(255, 255, 255, 0.6);
}
.s-game .s-input .s-light {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.07s linear;
    transition: background-color 0.07s linear;
    z-index: 2;
}
.s-game .s-green {
    background: -webkit-radial-gradient(bottom right, #b2d8b2, #008000, #b2d8b2);
    background: radial-gradient(bottom right, #b2d8b2, #008000, #b2d8b2);
    background-color: green;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-top-left-radius: 100%;
}
.s-game .s-red {
    background: -webkit-radial-gradient(bottom left, #ffcccc, #ff0000, #ffcccc);
    background: radial-gradient(bottom left, #ffcccc, #ff0000, #ffcccc);
    background-color: red;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    border-top-right-radius: 100%;
}
.s-game .s-blue {
    background: -webkit-radial-gradient(top right, #ccccff, #0000ff, #ccccff);
    background: radial-gradient(top right, #ccccff, #0000ff, #ccccff);
    background-color: blue;
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom-left-radius: 100%;
}
.s-game .s-yellow {
    background: -webkit-radial-gradient(top left, #ffffcc, #f5f50a, #ffffcc);
    background: radial-gradient(top left, #ffffcc, #f5f50a, #ffffcc);
    background-color: #f5f50a;
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-bottom-right-radius: 100%;
}
